/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100dvb;
  font: 1rem var(--font-primary), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-base);
  background: var(--background-pattern) no-repeat center center fixed;
  background-size: cover;
}

.page-wrapper {
  width: var(--container-width);
}

.header {
  display: grid;
  place-items: center;
  gap: 1.25rem;
  background-color: var(--color-bg);
  border: var( --border-main);
  margin-block: 100px;
  padding-block: clamp(7.5rem, 0.714vw + 7.357rem, 8rem);
}

.header__title,
.header__subtitle {
  font-family: var(--font-secondary), 'Fantasy', sans-serif;
  color: var( --color-main);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.main__content {
  display: grid;
  justify-items: center;
  row-gap: 2rem;
}

.content-list {
  display: grid;
  row-gap: 51px;
  margin-block-end: 50px;
}

.content-list:not(:last-child) {
  row-gap: 50px;
}

.content-card {
  display: grid;
  background: var(--color-bg);
  border: var( --border-main);
}

.card__title {
  font-family: var(--font-primary), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: 21.78px;
  color: var( --color-main);
  padding: 4px 10px 5px;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  display: block;
}

.image-block {
  overflow: hidden;
  position: relative;
  border-top: var( --border-main);
  border-bottom: var( --border-main);
}

.image-label {
  position: absolute;
  top: 23px;
  right: 23px;
  font-size: 14px;
  font-family: var(--font-secondary), 'Fantasy', sans-serif;
  color: var( --color-main);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--color-bg),
    0 1px var(--color-bg),
    1px 0 var(--color-bg),
    0 -1px var(--color-bg);
}

@supports (text-stroke: 1px var(--color-bg)) or (-webkit-text-stroke: 1px var(--color-bg)) {
  .image-label {
    -webkit-text-stroke: 1px var(--color-bg);
    text-stroke: 1px var(--color-bg);
    text-shadow: none;
  }
}

.filter-grayscale {
  filter: grayscale(0.7);
}

.filter-saturate {
  filter: saturate(3);
}

.filter-contrast {
  filter: contrast(1.2);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-blur-grayscale {
  filter: blur(0.1rem) grayscale(50%);
}

.card__paragraph {
  display: grid;
  padding: 24px 25px;
}

.card__paragraph:not(:last-child) {
  row-gap: 27px;
}

.card__text {
  font-family: var(--font-primary), sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px 25px;
  gap: 6px;
}

.card__icon-button {
  display: grid;
  place-items: center;
  background: none;
  border: none;
  max-height: 38px;
  padding: 0;
  transition: border 0.3s ease-in-out;
}

.button__with-text {
  background: var(--color-bg);
  border: var( --border-main);
  font-family: var(--font-secondary), 'Fantasy', sans-serif;
  color: var( --color-main);
  padding-block: 9px;
  font-size: 14px;
}

.button__covered {
  transition: box-shadow 0.3s ease-in-out;
}

.button__covered::before {
  content: '';
  position: absolute;
  inset: 0;
  scale: 0 1;
  background-color: var( --color-main);
  transition: scale 0.5s ease-in-out;
  transform-origin: left;
}

.button__covered:hover::before {
  scale: 1;
}

.card__like-button {
  position: relative;
  inline-size: 130px;
}

.main-content__button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-end: 100px;
  padding: 15px 21px 15px 19px;
}

.floppy__text {
  font-size: 14px;
  font-family: var(--font-secondary), 'Fantasy', sans-serif;
}

.floppy__icon {
  block-size: 21px;
  mix-blend-mode: difference;
  color: var(--color-bg);
}

.floppy__dialog[open] {
  display: grid;
  grid-template-columns: 39px 1fr;
  column-gap: 20px;
  row-gap: 30px;
  inline-size: 357px;
  padding: 30px;
  border: var( --border-main);
}

.floppy__dialog-text {
  font-family: var(--font-secondary), 'Fantasy', sans-serif;
  font-size: 14px;
  line-height: var(--line-height-base);
  text-transform: uppercase;
}

.floppy__dialog-button {
  grid-column: 1 / 3;
  padding-inline: 114.5px;
  font-size: 14px;
}

.floppy__icon-dialog {
  block-size: 39px;
  align-self: center;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .main-content__button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px 20.5px 15px 20.5px;
  }

  .floppy__icon {
    block-size: 28px;
  }

  .floppy__dialog[open] {
    inline-size: min(100%, 341px);
    padding-inline: 38px;
  }

  .image-label {
    top: 22px;
    right: 12px;
  }
}

.card__like-button:focus, .main-content__button:focus, .card__icon-button:focus {
  outline: none;
}

.card__like-button:focus-visible, .main-content__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var( --color-main);
}

.card__icon-button:focus-visible {
  border: var( --border-main);
}

.button-like-text, .floppy__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--color-bg);
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.main-body {
  fill: transparent;
  transition-duration: 0.3s;
}

.contour {
  transition: fill 0.1s linear;
}

.card__icon-button:hover .core {
  fill: var( --color-main);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var( --color-main);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
} 

.like-icon.is-liked .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--accent-color);
  transition: fill 0.3s 0.06s linear;
}